<ul class="sidenav admin-sidenav list-unstyled">
    <li><a href="/movies/last">ultimas peliculas</a></li>
    <li><a href="/movies/first">primera pelicula</a></li>
    <li><a href="/movies/14238">ver una pelicula</a></li>
    <li><a href="/categories">Ver categorias</a></li>
</ul>