<a class="card">
    <!-- Cover -->
    <div class="card__cover">
        <td><%= movie.poster_path %></td>
    </div>

    <!-- Content -->
    <div class="card__content">
        <td><%= movie.title %></td>
        <td><%= movie.id %></td>
    </div>
    
</a>